<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/styles/dashboard.css" />
  </head>
  <body>
    <main>
      <!-- menu sectioin  -->

      <div class="menu-container">
        <img src="../static/images/logo.png" alt="" />
        <h1>DASHBOARD</h1>
        <div class="menu-icons explore">
          <img src="../static/images/explore.png" alt="" />
          <h3 >Explore</h3>
        </div>
        <div class="menu-icons">
          <img src="../static/images/category.png" alt="" />
          <h3>Categories</h3>
        </div>
        <div class="menu-icons">
          <img src="../static/images/like.png" alt="" />
          <h3>My Collection</h3>
        </div>
        <div class="menu-icons">
          <img src="../static/images/collection.png" alt="" />
          <h3>My Collections</h3>
        </div>
        <div class="menu-icons">
          <img src="../static/images/setting.png" alt="" />
          <h3>Account Settings</h3>
        </div>
        <div class="menu-icons">
          <img src="../static/images/about.png" alt="" />
          <h3>About us</h3>
        </div>
        <div class="menu-icons">
          <img src="../static/images/signout.png" alt="" />
          <h3>Sign Out</h3>
        </div>
      </div>

      <div class="card-section">
        <div class="search-user">
          <input type="search" placeholder="Search" name="" id="" />
          <div class="profile-photo"></div>
        </div>
        <div class="credit-type">
          <h3 class="active">Reward Credit card</h3>
          <h3>Cash Back Credit Card</h3>
          <h3>Business Credit Card</h3>
          <h3>Secured credit Card</h3>
        </div>

        <div class="first-card-container">
          <div class="cards">
            <div class="img-cont">
              <img src="../static/images/Card-1.png" alt="" />
            </div>
            <div class="icons">
              <img class="icon1" src="../static/images/love.png" alt="" />
              <img class="icon2" src="../static/images/share.png" alt="" />
              <img class="icon3" src="../static/images/download.png" alt="" />
            </div>
          </div>
          <div class="cards">
            <div class="img-cont img2">
              <img src="../static/images/card-2.png" alt="" />
            </div>
            <div class="icons2">
              <img class="icon1" src="../static/images/love.png" alt="" />
              <img class="icon2" src="../static/images/share.png" alt="" />
              <img class="icon3" src="../static/images/download.png" alt="" />
            </div>
          </div>
          <div class="cards">
            <div class="img-cont img3">
              <img src="../static/images/Card-3.png" alt="" />
            </div>
            <div class="icons3">
              <img class="icon1" src="../static/images/love.png" alt="" />
              <img class="icon2" src="../static/images/share.png" alt="" />
              <img class="icon3" src="../static/images/download.png" alt="" />
            </div>
          </div>
        </div>
        <div class="second-card-container">
          <div class="cards">
            <div class="img-cont">
              <img src="../static/images/card-4.png" alt="" />
            </div>
            <div class="icons">
              <img src="../static/images/love.png" alt="" />
              <img src="../static/images/share.png" alt="" />
              <img src="../static/images/download.png" alt="" />
            </div>
          </div>
          <div class="cards">
            <div class="img-cont img2">
              <img src="../static/images/card-5.png" alt="" />
            </div>
            <div class="icons2">
              <img src="../static/images/love.png" alt="" />
              <img src="../static/images/share.png" alt="" />
              <img src="../static/images/download.png" alt="" />
            </div>
          </div>
          <div class="cards">
            <div class="img-cont img3">
              <img src="../static/images/card-6.png" alt="" />
            </div>
            <div class="icons3">
              <img src="../static/images/love.png" alt="" />
              <img src="../static/images/share.png" alt="" />
              <img src="../static/images/download.png" alt="" />
            </div>
          </div>
        </div>
        <div class="third-card-container">
          <div class="cards">
            <div class="img-cont">
              <img src="../static/images/card-7.png" alt="" />
            </div>
            <div class="icons">
              <img src="../static/images/love.png" alt="" />
              <img src="../static/images/share.png" alt="" />
              <img src="../static/images/download.png" alt="" />
            </div>
          </div>
          <div class="cards">
            <div class="img-cont img2">
              <img src="../static/images/card-8.png" alt="" />
            </div>
            <div class="icons2">
              <img src="../static/images/love.png" alt="" />
              <img src="../static/images/share.png" alt="" />
              <img src="../static/images/download.png" alt="" />
            </div>
          </div>
          <div class="cards">
            <div class="img-cont img3">
              <img src="../static/images/card-9.png" alt="" />
            </div>
            <div class="icons3">
              <img src="../static/images/love.png" alt="" />
              <img src="../static/images/share.png" alt="" />
              <img src="../static/images/download.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
