<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaCard | Forgot Password</title>
    
    <link rel="stylesheet" href="../static/styles/forgotpassword.css">
</head>

<body>
    <!-- page 1 -->
    <div class="form-container" id="Page1">
        <div class="left-container">
            <img class="logo-insta" src="../static/images/logo-instac.png" alt="logo">
        </div>

        <div class="right-container">
            <h1>Forgot Password?</h1>
            <span>Enter the email address associated with this account. An otp will be 
                sent to this email address</span>
            <form action="#">
                <div>
                    <span class="label">Email Address</span>
                    <input class="box" type="email" name="" placeholder="Instacards@gmail.com" id="" required>
                </div>

                <div class="button">
                    <button onclick="return show('Page2', 'Page1');">Enter</button>
                </div>
            </form>

        </div>

        <!-- Content of page 1
        <a href="#" onclick="return show('Page2','Page1');">Show page 2</a> -->
    </div>


    <!-- page 2 -->
    <div id="Page2" style="display: none;">

        <div class="left-container" style="float: left;">
            <img class="logo-insta" src="../static/images/logo-instac.png" alt="logo">
        </div>

        <div class="right-container" style="float: right;">
            <h1>Forgot Password?</h1>
            <span>Input the code sent to your email address</span>

            <form action="#">
                <div>
                    <span class="label">Input OTP</span>
                    <input class="box" type="number" name="" placeholder="12345" id="" required>
                </div>

                <div class="button">
                    <button>
                        <a href="reset.html" style="text-decoration: none; color: var(--white);">Enter</a>
                    </button>
                </div>
            </form>

        </div>
        <!-- Content of page 2
        <a href="#" onclick="return show('Page1','Page2');">Show page 1</a> -->
    </div>

    <script>
        function show(shown, hidden) {
            document.getElementById(shown).style.display = 'block';
            document.getElementById(hidden).style.display = 'none';
            return false;
        }

    </script>
</body>

</html>