<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaCard | Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
    <header>
        <div class="container">
            <a href="#" class="logo">
                <img src="../static/images/logo-green.png" alt="brand logo">
            </a>
            <nav>
                <ul class="section-links">
                    <button><i class="fas fa-times"></i></button>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#about-us">About&nbsp;Us</a></li>
                    <li><a href="#cards">Cards</a></li>
                    <li><a href="#faqs">FAQs</a></li>git
                    <li class="login"><a href="login.html" class="btn btn-outline btn-md ">Log&nbsp;In</a></li>
                </ul>

                <ul class="external-links">
                    <li class="signup"><a href="signup.html" class="btn btn-filled btn-md ">Sign&nbsp;Up</a></li>
                    <li class="login"><a href="login.html" class="btn btn-outline btn-md ">Log&nbsp;In</a></li>
                </ul>
                <div class="menu">
                    <button><i class="fas fa-bars"></i></button>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <section class="hero" id="hero">
                <div class="hero-grid">
                    <div class="hero-grid-text">
                        <h1>
                            Download your <br>
                            <span>Credit cards</span><br>
                            instantly
                        </h1>
                        <p>Get ease access to varieties of credit cards.</p>
                        <a href="./signup.html"><button class="cta" type="button">Sign Up</button></a>
                    </div>
                    <div class="hero-grid-image">
                        <img src="../static/images/hero.png" alt="credit cards desplay">
                    </div>
                </div>
            </section>

            <section class="about-us" id="about-us">
                <div class="about-grid">
                    <div class="about-grid-text">
                        <h2 class="title"> <span></span>&nbsp;&nbsp;&nbsp;About Us</h2>
                        <p>We give you a Credit card design with a classy and existing looks. Our Credit cards are
                            designed by our best designers. You also get a chance to share your designs and download
                            them, check out what credit card designs people like and are trending. Trust us to give you
                            the best</p>
                        <button type="button" class="cta">Learn more</button>
                    </div>
                    <div class="about-grid-image">
                        <img src="../static/images/about-us.png" alt="credit cards display">
                    </div>
                </div>
            </section>
            <section class="cards" id="cards">
                <h2 class="title c-align"><span></span>&nbsp;&nbsp;&nbsp;Cards Gallery</h2>
                <div class="top-rated">
                    <header>
                        <p>Top rated</p>
                        <a href="#">See all</a>
                    </header>
                    <div class="cards-container">
                        <a href="#" class="card">
                            <img src="../static/images/Card-1.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-2.png" alt="">
                        </a>
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/Card-3.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-5.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-6.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-9.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="others">
                    <header>
                        <select name="category" id="category">
                            <option value="gradient">Gradient</option>
                        </select>
                        <a href="#">See all</a>
                    </header>
                    <div class="cards-container">
                        <a href="#" class="card">
                            <img src="../static/images/Card-1.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-2.png" alt="">
                        </a>
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/Card-3.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-4.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-5.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-6.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-7.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-8.png" alt="">
                        </a>
                        <a href="#" class="card">
                            <img src="../static/images/card-9.png" alt="">
                        </a>
                    </div>
                </div>
            </section>
            <section class="testimonials">
                <h2 class="title c-align"><span></span>&nbsp;&nbsp;&nbsp;What Users Think of Us</h2>
                <div class="card-container">
                    <div class="card">
                        <img src="../static/images/robert.png" alt="avatar">
                        <p>This is actually awesome, now I can pick what I want my credit card to look like. I like the
                            fact that I can share my favorite designs.</p>
                        <div>
                            <h4>Robert Fox</h4>
                            <div class="stars">
                                <p>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../static/images/wade.png" alt="avatar">
                        <p>I love the card designs, they are so unique. I can actually download a design I like and Use
                            it, that is so awesome and lit</p>
                        <div>
                            <h4>Wade Warren</h4>
                            <div class="stars">
                                <p>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../static/images/elizabeth.png" alt="avatar">
                        <p>I like the fact that it is free and I can explore a lot of options before i pick the one I
                            really loven And the page is user friendly.</p>
                        <div>
                            <h4>Elizabeth Anderson</h4>
                            <div class="stars">
                                <p>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact-us" id="contact-us">
                <h2 class="title c-align"><span></span>&nbsp;&nbsp;&nbsp;We Are Waiting to Hear from you</h2>
                <div class="contact-grid">
                    <div class="contact-grid-image">
                        <img src="../static/images/contact-us.png" alt="person making phone call">
                    </div>
                    <div class="contact-grid-text">
                        <form>
                            <input type="text" placeholder="Name" name="name" id="name" required>
                            <input type="email" name="email" id="email" placeholder="Email Address" required>
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"
                                required></textarea>
                        </form>
                        <button class="btn-md">Contact Us</button>
                    </div>
                </div>
            </section>
            <section class="faqs" id="faqs">
                <h2 class="title c-align"><span></span>&nbsp;&nbsp;&nbsp;Your Questions Answered</h2>
                <ul class="container">
                    <li>
                        <div class="question">
                            <p>what is instacards and how does it work?</p>
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <p class="answer"> Instacards is a credit card library platform, that allows users to interact with cards. users who are signed into our website can instantly download preferred cards, they could also share them to their social media platforms, comment on favorite cards as well as save preferred card to download later</p>
                    </li>
                    <li>
                        <div class="question">
                            <p>How can i download cards?</p>
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <p class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci dolorum
                            reiciendis dolor quaerat sint nulla aut est. Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Sunt.</p>
                    </li>
                    <li>
                        <div class="question">
                            <p>Do i need to pay or subscribe to download cards?</p>
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <p class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci dolorum
                            reiciendis dolor quaerat sint nulla aut est. Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Sunt.</p>
                    </li>
                    <li>
                        <div class="question">
                            <p>How can save credit cards so i can download later?</p>
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <p class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci dolorum
                            reiciendis dolor quaerat sint nulla aut est. Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Sunt.</p>
                    </li>
                </ul>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <div>
                <div class="logo">
                    <img src="../static/images/logo-green.png" alt="">
                </div>
                <div class="details">
                    <div class="section-one">
                        <ul>
                            <li>
                                <h2>Product & services</h2>
                            </li>
                            <li><a href="#" href="#">Reward Credit cards</a></li>
                            <li><a href="#">Cashback Credit cards</a></li>
                            <li><a href="#">Business Credit cards</a></li>
                            <li><a href="#">Secured Credit cards</a></li>
                        </ul>
                    </div>
                    <div class="section-one">
                        <ul>
                            <li>
                                <h2>Our company</h2>
                            </li>
                            <li><a href="#about-us">About</a></li>
                            <li><a href="#faqs">FAQ</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#contact-us">Contact</a></li>
                        </ul>
                    </div>
                    <div class="section-one">
                        <ul>
                            <li>
                                <h2>Legal</h2>
                            </li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="social-media">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div class="copyrights">
                <p>&copy;&nbsp;&nbsp; 2022, Instacrads LTD</p>
            </div>
        </div>
    </footer>
    <script src="./index.js"></script>
</body>

</html>