<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaCard | Log in</title>
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
    <section>
        <div class="contentbox">
            <div class="formbox">
                <h2>Welcome back!</h2>
                <p>Enter your details to continue.</p>
                <form action="#">
                    <div class="inputbox">
                        <span>Email</span>
                        <input type="email" name="" placeholder="example@email.com" required>
                    </div>
                    <div class="inputbox">
                     <span>Password</span>
                     <input type="password" name="" placeholder="password" required>
                     <i class='bx bx-hide eye-icon'></i>
                 </div>
                    <div class="remember">
                    <input type="checkbox" id="checkbox"> 
                    <label for="checkbox">Remember me</label>
                    <span class="forgot"><a href="#">Forgot password?</a></span>
                    </div>
                 <div class="button">
                     <input type="submit"  class="btn"  value= "Sign in" name="">
                 </div>
                 
                 <div class="line"></div>

                 <div class="media">
                    <a href="#" class="field google">
                        <img src="Image/google.png" alt="" class="google-img">
                        <span>Sign in with your google account</span>
                    </a>
                   
                 </div>

                 <div class="inputbox">
                     <p class="sign-up">Don't have an account? <a href="./signup.html">Sign up</a> here</p>
                 </div>
                </form>
            </div>
        </div>
        <div class="loginbox">
            <img src="Image/arrow.svg" alt="">
        </div>
     </section>
</body>
</html>
