<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaCard | Signup</title>

    <link rel="stylesheet" href="../static/styles/signup.css">
</head>

<body>

    <div class="form-container">
        <div class="left-container">
            <div class="left-content">
                <img class="logo-insta" src="../static/images/logo-instac.png" alt="logo">
                <div class="text">
                    <span class="left-text">Welcome to</span>
                    <h3>Instacards</h3>
                </div>
            </div>
        </div>
        <div class="right-container">
            <h1>Join Instacards</h1>
            <span>Get easy access to any credit card design of your choice in our card library</span>

            <form action="#">
                <div>
                    <span class="label">Full name</span>
                    <input class="box" type="text" name="" placeholder="Enter your name" id="" required>
                </div>

                <div>
                    <span class="label">Email Address</span>
                    <input class="box" type="email" name="" placeholder="Instacards@gmail.com" id="" required>
                </div>

                <div>
                    <span class="label">password</span>
                    <div class="Pwd-toggle">
                        <input class="box" type="password" name="" placeholder="********" id="id_password" required>
                        <img class="eye" id="togglePassword" src="../static/images/icons8-eye-24.png" alt="psd-eye">
                    </div>
                </div>

                <div class="click">
                    <input type="checkbox" id="" name="" value="" required>
                    <label>I've read and agreed with the <a href="">Terms & condition</a> and <a href="">Privacy
                            policy</a></label>
                </div>

                <div class="button">
                    <button onsubmit="">Sign Up</button>
                </div>
                <span class="hr"> Or </span>

                <a href="#" class="google">
                    <img class="gle-logo" src="../static/images/gmail.logo.png" alt="G-mail">
                    <span>Sign up with your google account</span>
                </a>


                <div class="login">
                    <h5>Already have an account? <a href="login.html">Log in</a></h5>
                </div>

            </form>


        </div>
    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');

        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });
    </script>
</body>

</html>