<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instacard Signup</title>

    <link rel="stylesheet" href="../static/styles/signup.css">
</head>

<body>

    <div class="form-container">
        <div class="left-container">
            <img class="logo-insta" src="..//static/images/logo-instac.png" alt="logo">
            <div class="text">
                <span class="left-text">Welcome to</span>
                <h3>Instacards</h3>
            </div>
        </div>
        <div class="right-container">
            <h1>Join Instacards</h1>
            <span>Get easy access to any credit card design of your choice in our card library</span>

            <form action="#">
                <div>
                    <span class="label">Full name</span>
                    <input class="box" type="text" name="" placeholder="Enter your name" id="" required>
                </div>

                <div>
                    <span class="label">Email Address</span>
                    <input class="box" type="text" name="" placeholder="Instacards@gmail.com" id="" required>
                </div>

                <div>
                    <span class="label">password</span>
                    <input class="box" type="password" name="" placeholder="********" id="" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="click">
                    <input type="checkbox" id="" name="" value="">
                    <label>I've read and agreed with the <a href="">Terms & condition</a> and <a href="">Privacy
                            policy</a></label>
                </div>

                <div class="button">
                    <button>Sign Up</button>
                </div>
            </form>

            <span class="hr"> Or </span>

            <a href="#" class="google">
                <img class="gle-logo" src="../static/images/gmail.logo.png" alt="G-mail">
                <span>Sign up with your google account</span>
            </a>


            <div class="login">
                <h5>Already have an account? <a href="./login.html">Log in</a></h5>
            </div>


        </div>
    </div>
</body>

</html>