:root {
    --black: #333;
    --gray: #666;
    --green: #35E194;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2.5rem;
}

* {
    text-decoration: none;
    color: var(--gray);
    font-family: Arial, Helvetica, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    /* background-color: #3331; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black)
}

img {
    width: 100%;
}

.c-align {
    text-align: center;
}

.cta {
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: .125rem;
    -webkit-border-radius: .125rem;
    -moz-border-radius: .125rem;
    -ms-border-radius: .125rem;
    -o-border-radius: .125rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2.title {
    position: relative;
    padding: .125rem 0rem .125rem 0;
}

h2.title span {
    position: relative;
    background-color: var(--green);
}

h2.title span::before {
    position: absolute;
    background-color: var(--green);
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: .15rem;
    height: 1.5em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: .25rem;
    padding-bottom: .5rem;
    max-width: 1024px;
}

/* HEADER STYLES */
header .menu button {
    background-color: transparent;
    border: none;
    font-size: 2.25rem;
    padding: 0;
    color: var(--green);
    margin-left: calc(1.5rem + 2vw);
}

header .menu button i {
    color: var(--green);
}

body>header {
    background-color: white;
    box-shadow: 0 0 6px #33333336;
    font-weight: 500;
    font-size: 1.125rem;
    width: 100%;
    overflow-x: hidden;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

header nav {
    display: flex;
    align-items: center;
}

header .section-links {
    background-color: white;
    position: fixed;
    top: 0%;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 10;
    flex-direction: column;
    padding: 5rem 6rem 0 3rem;
    gap: 1rem;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path .1s ease-in;
    -webkit-transition: clip-path .1s ease-in;
    -moz-transition: clip-path .1s ease-in;
    -ms-transition: clip-path .1s ease-in;
    -o-transition: clip-path .1s ease-in;
}

header .section-links li+li {
    margin-top: 1rem;
}
header .section-links li:nth-of-type(4){
    margin-bottom: 1.25rem;
}
header .section-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
header .section-links .login{
    margin-top: auto;
    margin-bottom: 5rem;
    display: block;
}
header .external-links .login{
    display: none;
}
header .external-links .signup{
    display: none;
}
header .section-links button {
    position: absolute;
    top: 1.25rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding-bottom: .65rem;
}

header .logo img {
    height: 3rem;
    width: auto;
}

header ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

header .login {
    margin-left: 1rem;
}

header .sign-up {
    display: none;
}

header a {
    position: relative;
}

header a.active {
    color: var(--green);
    position: relative;
}

header a.active::after {
    content: '';
    position: absolute;
    color: var(--green);
    width: 100%;
    height: 2px;
    top: calc(100% + .125rem);
    left: 0;
    background-color: var(--green);
}

header .btn-outline {
    color: var(--green);
}

header .btn-filled {
    border: solid 2px var(--green);
    background-color: var(--green);
    color: white;
}

/* BUTTON STYLES */
.btn {
    border-radius: .35em;
    -webkit-border-radius: .35em;
    -moz-border-radius: .35em;
    -ms-border-radius: .35em;
    -o-border-radius: .35em;
    border-style: solid;
    border-width: .125em;
    background-color: transparent;
}

.btn-outline {
    border-style: solid;
    border-width: .125em;
    border-color: inherit;
}

.btn-sm {
    padding: .1em .5em .125em;
}

.btn-md {
    padding: .1em .85em .125em;
}

.btn-lg {
    padding: .1em 1.25em .125em;
}

.about-us .about-grid,
.hero .hero-grid {
    display: grid;
    grid-template-columns: repeat(12);
    grid-template-rows: repeat(2);
    gap: 1rem;
    align-items: center;
    grid-auto-flow: column;
}

/* HERO STYLES */
.hero h1 span {
    color: var(--green);
}

.hero .hero-grid-image {
    grid-column: 1/13;
    grid-row: 1/2;
    padding: 1.5rem 2.5rem 1rem 2.5rem;
}

.hero .hero-grid-text {
    grid-row: 2/3;
    grid-column: 1/13;
    text-align: center;
}

.hero .cta {
    padding: .25rem 1.25rem;
}

/* ABOUT US SECTION */
.about-us .about-grid-image {
    grid-column: 1/13;
    background-image: url(./assets/images/about-us.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(21rem - 5vw);
    min-height: 240px;
}
.about-grid-image img{
    visibility: hidden;
}

.about-us p {
    line-height: calc(1.25em + .5vw);
}

.about-us .about-grid-text {
    grid-column: 1/13;
}

.about-us .cta {
    color: rgb(129, 63, 63);
    padding: .25rem 1.25rem;
}
.hero button.cta{
    font-size: 1.75rem;
}

/* TESTIMONIALS */
.testimonials {
    padding-left: 1rem;
    padding-right: 1rem;
}

.testimonials .card-container {
    display: grid;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.testimonials .card {
    background-color: white;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 0 0 18px #00000015;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.testimonials .card>div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding: 0;
}

.testimonials .stars {
    padding: 0;
}

.testimonials .stars p,
.testimonials h4 {
    margin: 0;
}

.testimonials .card>div i {
    color: gold;
    font-size: .75rem;
}

.testimonials .card>p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.35em;
}

.testimonials .card img {
    width: calc(5rem + 2vw);
    height: calc(5rem + 2vw);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* CONTACT US */
.contact-us .contact-grid {
    display: grid;
    grid-template-columns: repeat(9);
    gap: 2rem;
}

.contact-us img {
    max-height: 240px;
    object-fit: cover;
    object-position: top center;
}

.contact-us input,
.contact-us textarea {
    width: 100%;
    padding: .5rem;
}

.contact-us input {
    margin-bottom: 1rem;
}

.contact-us button {
    background-color: var(--green);
    border: solid var(--green) 2px;
    color: white;
    margin-top: .5rem;
}

/* FAQ SECTION */

.faqs ul {
    width: 100%;
    margin: 0;
    background-color: #d7f9ea;
    padding: 1rem;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.faqs p {
    line-height: 1.5em;
}

.faqs li {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 768px;
}

.faqs li .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: white;
    padding: .5rem;
    border-radius: .0125rem;
    -webkit-border-radius: .0125rem;
    -moz-border-radius: .0125rem;
    -ms-border-radius: .0125rem;
    -o-border-radius: .0125rem;
}

.faqs .question * {
    padding: 0;
    margin: 0;
}

.faqs li .answer {
    background-color: white;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.faqs li .answer.active {
    position: relative;
    border-radius: .0125rem;
    height: auto;
    padding: 1rem;
    padding-left: 3rem;
    -webkit-border-radius: .0125rem;
    -moz-border-radius: .0125rem;
    -ms-border-radius: .0125rem;
    -o-border-radius: .0125rem;
}

.faqs li .answer.active::before {
    content: '';
    position: absolute;
    top: 1.45rem;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--green);
    left: 1.1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* FOOTER */
footer * {
    color: white;
}

footer {
    font-weight: 500;
    background-color: #2f2f2f;
    padding-top: 2rem;
}

footer ul {
    padding: 0;
}

footer .logo img {
    width: 4rem;
}

footer li+li {
    margin-top: .5rem;
}

footer .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(1.5rem + 4vw);
    margin: 2rem auto;
}

footer .social-media i {
    font-size: calc(1.5rem + 1vw);
    margin-left: 5px;
    margin-right: 5px;
}

footer .social-media i:hover,
footer .social-media i:active {
    color: var(--green);
}

footer .copyrights {
    text-align: center;
}
/* CARDS SECTION */
.cards img{
    width: auto;
    height: auto;
    max-width: 100%;
}
.cards header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    font-weight: 600;
}
.cards header a{
    text-decoration: underline;
}
.cards-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}
.cards-container a{
    padding: 1.25rem;
    border-radius: .25em;
    border: solid var(--black) 2px;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;
}
@media screen and (min-width: 768px) {
    section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .container {
        width: 80%;
        padding-right: 0;
    }

    /* HEADER */
    header .menu {
        display: none;
    }

    header .section-links li+li {
        margin-top: 0;
    }

    header .section-links {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 0;
        z-index: 1;
        flex-direction: row;
        padding: 0;
        clip-path: none;
        align-items: center;
        gap: 0;
    }

    header .section-links .login{
        display: none;
    }
    header .external-links .login{
        display: block;
    }
    header .external-links .signup{
        display: block;
    }
    header .section-links li+li {
        margin-left: 1.5rem;
    }

    header .section-links.active {
        clip-path: none;
    }

    header .section-links button {
        display: none;
    }

    header .sign-up {
        display: block;
    }

    header nav {
        display: flex;
        gap: 1rem;
    }

    /* HERO SECTION */
    .hero .hero-grid-image {
        grid-column: 7/13;
        grid-row: 1/3;
        padding: 0;
        display: flex;
    }

    .hero-grid-image img {
        margin-left: auto;
        max-height: min(450px, 50vmin);
        width: auto;
    }

    .hero .hero-grid-text {
        grid-row: 1/3;
        grid-column: 1/7;
        text-align: start;
    }

    .hero-grid-text h1 {
        line-height: 1.35em;
    }

    .hero-grid-text button {
        margin-top: 1em;
    }

    /*about us  */
    .about-us .about-grid {
        align-items: flex-start;
    }

    .about-us .about-grid-image {
        grid-column: 1/7;
        grid-row: 1/3;
    }

    .about-us .about-grid-text {
        width: 100%;
        grid-column: 7/13;
        grid-row: 1/3;
    }

    .about-us .cta {
        color: white;
        padding: .25rem 1.25rem;
    }

    .testimonials .card-container {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }

    /* contact us */
    .contact-us .contact-grid {
        grid-template-columns: repeat(9);
        margin-top: 3rem;
    }

    .contact-us input {
        margin-bottom: 1.5rem;
    }

    .contact-us .contact-grid-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-height: 370px;

    }

    .contact-us .contact-grid-image {
        grid-column: 6/10;
        grid-row: 1/3;
        height: 100%;
        width: 100%;
    }

    .contact-us .contact-grid-text {
        grid-column: 1/6;
        grid-row: 1/3;
    }

    /* FOOTER */
    footer .container>div:first-child {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }

    footer .details {
        display: flex;
        gap: calc(2rem + 3vw);
        flex-wrap: nowrap;
    }

    footer .details>div+div {
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .testimonials .card-container {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about-us .about-grid-image{
        height: calc(19rem - 5vw);
    }
    .about-us p {
        line-height: 1.65em
    }
    
}