@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Root Variables */
:root {
    /* Color Declaration */
    --Primary: #35e194;
    --white: #FFFFFF;
    --Deepgrey: #383838;
    --Lightgrey: #7A7A7A;
    --Fog: #595959;
    --MoonBlack: #1C1C1C;
    --Ash: #C7C6C6;
    /* Font Style */
    --Poppins: 'Poppins',
        sans-serif;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Poppins);
    width: 100%;
    height: 100vh;
    background-color: var(--Ash);
}

.form-container {
    display: flex;
    height: 100vh;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--Poppins);
}

/* styling the left container */
.left-container {
    background-color: var(--Primary);
    width: 50%;
    height: 115%;
    align-items: center;
    justify-content: center;
    padding: 10px 70px;
    margin: auto;
}

.logo-insta {
    max-width: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 150px 50px 0px 50px;
    margin: auto;
}

.text {
    align-items: center;
    justify-content: center;
    padding: 0px 80px 150px 100px;
    margin: auto;
    color: var(--white);
}

.left-content{
    padding: 50px;
    margin: auto;
}

.left-text {
    font-size: medium;
}

/* Styling the right container */
.right-container {
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 115%;
    padding: 30px 135px 8px 135px;
    margin: auto;

}

.box {
    width: 100%;
    padding: 10px 20px;
    margin-top: 9px;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #7a7a7a;
    color: #0b0b0b;
    background: transparent;
    border-radius: 5px;
    font-family: var(--Poppins);
}

div > span{
    padding-bottom: 250px;
}

label,
span,
p {
    font-size: x-small;
}

.label {
    font-size: small;
}

.eye{
    position: absolute;
    max-width: 65px;
    padding: 22px 50px 5px 0px;
    margin-left: -33px;
    cursor: pointer;
}

.click {
    margin-bottom: 10px;
    color: var(--MoonBlack);
    font-weight: 300;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 1px;
}

.click input {
    height: 0.8em;
    width: 0.9em;
    margin-top: 2px;
    vertical-align: baseline;
    cursor: pointer;
}

.click p {
    font-size: 11px;
}

.sign-up {
    background-color: var(--Primary);
    color: var(--white);
    justify-content: center;
    padding: 10px 150px;
    border-radius: 2px;
}

.hr {
    display: block;
    display: flex;
    font-size: small;
    margin-top: 10px;
}

span:before,
span:after {
    content: "";
    flex: 11;
    border-bottom: 1px solid #000;
    padding-top: 5px;
    margin: auto;

}

.gle-logo {
    max-width: 15px;
    margin-top: 10px;
}

.google {
    background-color: var(--Ash);
    color: var(--MoonBlack);
    justify-content: center;
    font-size: small;
    font-family: var(--Poppins);
    text-decoration: none;
}

a.google {
    background-color: var(--Lightgrey);
    background: transparent;
    padding: 5px 33px;
    border: 1px solid var(--Fog);
    border-radius: 5px;
}

a > span {
    font-weight: 400;
    font-size: 13px;
    opacity: 0.6;
    color: var(--MoonBlack);
    border-radius: 5px;
    padding: 0px 45px 0px 0px;
}

.button,
button {
    background: var(--Primary);
    color: var(--white);
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

button {
    padding: 10px 140px;
}

.login {
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    margin: auto;
}

h5 > a {
    color: var(--Primary);
}

label > a {
    text-decoration: none;
    color: var(--Primary);
}

@media screen and (max-width: 1200px) {
    body {
        width: fit-content;        
    }
}

@media screen and (max-width: 771px) {
    .form-container {
        display:inline-flex;
        height: 120%;
        width: fit-content;
       
    }
}