:root {
    --black: #333;
    --gray: #666;
    --green: #35E194;
}
* {
    text-decoration: none;
    color: var(--gray);
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    /* background-color: #3331; */
}
h1,h2,h3,h4,h5,h6{
    color: var(--black)
}
img {
    width: 100%;
}

.c-align {
    text-align: center;
}

.cta {
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: .125rem;
    -webkit-border-radius: .125rem;
    -moz-border-radius: .125rem;
    -ms-border-radius: .125rem;
    -o-border-radius: .125rem;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* border: #666 solid 2px; */
}

h2.title {
    position: relative;
    padding: .125rem 0rem .125rem 0;
}

h2.title span {
    position: relative;
    background-color: var(--green);
}
h2.title span::before {
    position: absolute;
    background-color: var(--green);
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: .15rem;
    height: 1.5em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: .25rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    max-width: 1024px;
}

/* HEADER STYLES */
header .menu {
    position: fixed;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
header .menu button{
    background-color: transparent;
    border: none;
    font-size: 1.75rem;
    padding: 0;
    color: var(--green);
}
header .menu button i{
    color: var(--green);
}

body>header {
    background-color: white;
    box-shadow: 0 0 6px #33333336;
    font-weight: 500;
    font-size: 1.125rem;
    width: 100%;
    overflow-x: hidden;
}

header nav {
    position: relative;
}

header .section-links {
    background-color: white;
    position: fixed;
    top: 0%;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 10;
    flex-direction: column;
    padding: 8rem 6rem 0 3rem;
    gap: 1rem;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

header .section-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

header .section-links button {
    position: absolute;
    top: 3rem;
    right: 2rem;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding-bottom: .65rem;
}

header .logo img {
    height: 3rem;
    width: auto;
}

header ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

header .login {
    margin-left: 1rem;
}

header .sign-up {
    display: none;
}

header a {
    position: relative;
}

header a.active {
    color: var(--green);
    position: relative;
}

header a.active::after {
    content: '';
    position: absolute;
    color: var(--green);
    width: 100%;
    height: 2px;
    top: calc(100% + .125rem);
    left: 0;
    background-color: var(--green);
}

header .btn-outline {
    color: var(--green);
}

header .btn-filled {
    background-color: var(--green);
    border-color: var(--green);
    color: white;
}

/* BUTTON STYLES */
.btn {
    border-radius: .35em;
    -webkit-border-radius: .35em;
    -moz-border-radius: .35em;
    -ms-border-radius: .35em;
    -o-border-radius: .35em;
    border-style: solid;
    border-width: .125em;
    background-color: transparent;
}

.btn-outline {
    border-style: solid;
    border-width: .125em;
    border-color: inherit;
}

.btn-sm {
    padding: .1em .5em .125em;
}

.btn-md {
    padding: .1em .85em .125em;
}

.btn-lg {
    padding: .1em 1.25em .125em;
}

.about-us .about-grid , .hero .hero-grid {
    display: grid;
    grid-template-columns: repeat(12);
    grid-template-rows: repeat(2);
    gap: 1rem;
    align-items: center;
}

/* HERO STYLES */
.hero h1 span {
    color: var(--green);
}
.hero .hero-grid-image {
    grid-column: 1/13;
    grid-row: 1/2;
    padding: 1.5rem 2.5rem 1rem 2.5rem;
}

.hero .hero-grid-text {
    grid-row: 2/3;
    grid-column: 1/13;
    text-align: center;
}

.hero .cta {
    padding: .25rem 1.25rem;
}

/* ABOUT US SECTION */
.about-us .about-grid-image {
    grid-column: 1/13;
}

.about-us .about-grid-text {
    grid-column: 1/13;
}

.about-us .cta {
    color: white;
    padding: .25rem 1.25rem;
}
/* TESTIMONIALS */
.testimonials{
    padding-left: 1rem;
    padding-right: 1rem;
}
.testimonials .card-container{
    display: grid;
    gap: 1.5rem;
    margin-top: 2.5rem;
}
.testimonials .card{
    background-color: white;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 0 0 18px #00000015;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.testimonials .card > div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding: 0;
}
.testimonials .stars{
    padding: 0;
}
.testimonials .stars p, .testimonials h4{
    margin: 0;
}
.testimonials .card > div i {
    color: gold;
    font-size: .75rem;
}
.testimonials .card > p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.35em;
}
.testimonials .card img{
    width: calc(5rem + 2vw);
    height: calc(5rem + 2vw);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* CONTACT US */
.contact-us .contact-grid{
    display: grid;
    grid-template-columns: repeat(9);
    gap: 2rem;
}
.contact-us img{
    max-height: 320px;
    object-fit: cover;
    object-position: top center;
}
.contact-us input, .contact-us textarea{
    width: 100%;
    padding: .5rem;
}
.contact-us input{
    margin-bottom: 1rem;
}
.contact-us button{
    background-color: var(--green);
    border: solid var(--green) 2px;
    color: white;
    margin-top: .5rem;
}
/* FAQ SECTION */

.faqs ul{
    width: 100%;
    margin: 0;
    background-color: #d7f9ea;
    padding: 2rem;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}
.faqs p{
    line-height: 1.5em;
}
.faqs li{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 768px;
}
.faqs li .question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: white;
    padding: .5rem;
    border-radius: .0125rem;
    -webkit-border-radius: .0125rem;
    -moz-border-radius: .0125rem;
    -ms-border-radius: .0125rem;
    -o-border-radius: .0125rem;
}
.faqs .question  *{
    padding: 0;
    margin: 0;
}
.faqs li .answer{
    background-color: white;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.faqs li .answer.active{
    position: relative;
    border-radius: .0125rem;
    height: auto;
    padding: 1rem;
    padding-left: 3rem;
    -webkit-border-radius: .0125rem;
    -moz-border-radius: .0125rem;
    -ms-border-radius: .0125rem;
    -o-border-radius: .0125rem;
}
.faqs li .answer.active::before{
    content: '';
    position: absolute;
    top: 1.45rem;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--green);
    left: 1.1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media screen and (min-width: 768px) {
    section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .container {
        width: 80%;
        padding-right: 0;
    }
/* HEADER */
    header .menu {
        display: none;
    }

    header .section-links {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 0;
        z-index: 1;
        flex-direction: row;
        padding: 0;
        clip-path: none;
        align-items: center;
        gap: 0;
    }
    header .section-links li + li{
        margin-left: 1.5rem;
    }

    header .section-links.active {
        clip-path: none;
    }

    header .section-links button {
        display: none;
    }

    header .sign-up {
        display: block;
    }

    header nav {
        display: flex;
        gap: 1rem;
    }
/* HERO SECTION */
    .hero .hero-grid-image {
        grid-column: 7/13;
        grid-row: 1/3;
        padding: 0;
        display: flex;
    }

    .hero-grid-image img {
        margin-left: auto;
        max-height: min(450px, 50vmin);
        width: auto;
    }

    .hero .hero-grid-text {
        grid-row: 1/3;
        grid-column: 1/7;
        text-align: start;
    }
    .hero-grid-text h1{
        line-height: 1.35em;
    }
    .hero-grid-text button{
        margin-top: 1em;
    }

    /*about us  */
    .about-us .about-grid {
        align-items: flex-start;
    }

    .about-us .about-grid-image {
        grid-column: 1/7;
        grid-row: 1/3;
    }

    .about-us .about-grid-text {
        width: 100%;
        grid-column: 7/13;
        grid-row: 1/3;
    }

    .about-us p {
        line-height: 1.65em;
    }

    .about-us .cta {
        color: white;
        padding: .25rem 1.25rem;
    }
    .testimonials .card-container{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
    /* contact us */
    .contact-us .contact-grid{
        grid-template-columns: repeat(9);
        margin-top: 3rem;
        /* align-items: flex-start; */
        /* gap: 4rem; */
        /* background-color: rebeccapurple; */
    }
    .contact-us input{
        margin-bottom: 1.5rem;
    }
    .contact-us .contact-grid-image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-height: 330px;
    }
    .contact-us .contact-grid-image{
        grid-column: 6/10;
        grid-row: 1/3;
        height: 100%;
        width: 100%;
    }
    .contact-us .contact-grid-text{
        grid-column: 1/6;
        grid-row: 1/3;
    }
}
@media screen and (min-width: 1024px) {
    .testimonials .card-container{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about-us img{
        height: 270px;
        width: 500px;
        object-fit: cover;
    }
}
